<div class="w-full p-4 font-sa-sansation bg-azul-main h-fit min-h-[93vh]">
  <div class="relative max-w-full bg-white border-2 border-azul-main rounded-2xl shadow-md p-4">
    <table class="w-full table-auto border-separate border-spacing-y-2">
      <thead class="bg-azul-main/90 shadow-gray-500 shadow-inner text-white rounded-md select-none">
        <tr>
          <th class="py-3 px-4 text-left rounded-l-lg">Nome</th>
          <th class="py-3 px-4 text-left">Email</th>
          <th class="py-3 px-4 text-left">Ativo</th>
          <th class="py-3 px-4 text-left rounded-r-lg text-center">
            <a
              [routerLink]="['/funcionarios/novo']"
              class="inline-flex items-center gap-2 px-4 py-2 bg-verde-sec text-white font-semibold rounded-lg hover:bg-verde-sec/90 transition"
            >
              <i class="fa fa-plus"></i>
              Novo
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let funcionario of funcionarios"
          class="bg-gray-200 hover:bg-gray-100 transition duration-150 shadow-sm rounded-md"
        >
          <td class="py-3 px-4 text-slate-700 rounded-l-lg select-none">
            {{ funcionario.nome }}
          </td>
          <td class="py-3 px-4 text-slate-700 select-none">
            {{ funcionario.email }}
          </td>
          <td class="py-3 px-4 text-slate-700 select-none">
            {{ funcionario.ativo ? 'Sim' : 'Não' }}
          </td>
          <td class="text-center rounded-r-lg space-x-2" style="width: 300px">
            <!-- Botão Ver -->
            <button
              type="button"
              (click)="abrirModal(funcionario)"
              class="inline-flex items-center gap-2 px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
            >
              <i class="fa fa-eye"></i>
              Ver
            </button>

            <!-- Botão Editar -->
            <a
              [routerLink]="['/funcionarios/editar', funcionario.id]"
              class="inline-flex items-center gap-2 px-3 py-1 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 transition"
            >
              <i class="fa fa-edit"></i>
              Editar
            </a>

            <!-- Botão Remover -->
            <a
              href="#"
              (click)="remover($event, funcionario)"
              class="inline-flex items-center gap-2 px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600 transition"
            >
              <i class="fa fa-times"></i>
              Remover
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="funcionarios.length === 0" class="text-center text-gray-600 mt-4">
      Nenhum usuário cadastrado.
    </p>
  </div>
</div>