<body class="bg-gray-100 h-screen grid place-items-center">
  <form class="bg-white p-4 rounded w-80" #formInserirCategoria="ngForm" (ngSubmit)="inserir(formInserirCategoria)">

    <!-- Nome da Categoria -->
    <input type="text" id="nome" name="nome" placeholder="Nome"
           class="w-full mb-3 p-2 border rounded" 
           [(ngModel)]="categoria.nome" 
           #nome="ngModel"
           minlength="2" required>

    <!-- Mensagens de erro -->
    <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="bg-red-200 text-red-900 rounded p-2 border-2 border-red-300 mb-4">
      <div *ngIf="nome.errors?.required">Digite a categoria do equipamento.</div>
      <div *ngIf="nome.errors?.minlength">
        A categoria do equipamento deve conter ao menos 2 caracteres.
      </div>
    </div>

    <!-- Status da Categoria -->
    <select name="ativo" class="w-full mb-3 p-2 border rounded" [(ngModel)]="categoria.ativo">
      <option [ngValue]="true">Ativo</option>
      <option [ngValue]="false">Não-ativo</option>
    </select>

    <!-- Botões -->
    <div class="flex justify-between">
      <a class="bg-gray-300 px-4 py-2 rounded text-center inline-block" 
         [routerLink]="['/categoriaEquipamento']">
        Cancelar
      </a>

      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded"
              [disabled]="formInserirCategoria.form.invalid">
        Salvar
      </button>
    </div>

  </form>
</body>
