# ======================================
# FRONTEND (Angular / Node)
# ======================================
/frontend/node_modules
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out
/frontend/.angular/cache
*.key
*.crt
/frontend/src/certs/localhost+2-key.pem
/frontend/src/certs/localhost+2.pem
npm-debug.log
yarn-error.log

# ======================================
# BACKEND (Spring Boot / Maven)
# ======================================
/backend/target
/backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/backend/src/main/resources/keystore.p12
*.p12

# ======================================
# IDEs e editores
# ======================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/*
.vscode
frontend/.vscode/*
frontend/.vscode/
frontend/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ======================================
# Miscellaneous
# ======================================
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/.history
.DS_Store
Thumbs.db
