<h2>Gerenciamento de Serviços</h2>
<!-- tirei o doctype, não é necessário no html do angular, na vdd é bem burro -->
<!-- <input [(ngModel)]="novaDescricao" placeholder="Descrição do serviço"> -->
<button (click)="adicionarServico()">Adicionar</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of servicos">
      <td>{{ s.id }}</td>
      <td>{{ s.descricao }}</td>
      <td>{{ s.status }}</td>
      <td>
        <button (click)="editarServico(s.id)">Editar</button>
        <button (click)="excluirServico(s.id)">Excluir</button>
        <button (click)="atualizarStatus(s.id)">Status</button>
        <button (click)="inativarServico(s.id)">Inativar</button>
      </td>
    </tr>
  </tbody>
</table>
