<div>
  <h2 class="pl-12 pt-12">Login</h2>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLoginSubmit()"
    class="flex flex-col justify-start items-start pl-12 w-fit h-fit pb-12"
  >
    <label for="loginEmail">Email:</label>
    <input
      id="loginEmail"
      type="email"
      formControlName="email"
      placeholder="Digite seu email"
      autocomplete="email"
    />
    <div *ngIf="loginForm.get('email')?.touched">
      <span *ngIf="emailValidoLogin === true" style="color: green">
        E-mail válido
      </span>
      <span *ngIf="emailValidoLogin === false" style="color: red">
        E-mail inválido
      </span>
    </div>

    <label for="loginPassword">Senha:</label>
    <input
      id="loginPassword"
      type="password"
      formControlName="password"
      maxlength="4"
      placeholder="Digite sua senha"
      autocomplete="current-password"
    />

    <button
      type="submit"
      [disabled]="
        loginForm.invalid || isSubmittingLogin || emailValidoLogin === false
      "
      class="rounded-md bg-slate-500 text-white py-2 px-3 mt-5"
    >
      Entrar
    </button>
  </form>

  <hr />

  <h2 class="pl-12 pt-12">Cadastro</h2>
  <form
    [formGroup]="cadastroForm"
    (ngSubmit)="onCadastroSubmit()"
    class="flex flex-col justify-start items-start pl-12 w-fit h-fit"
  >
    <label for="cadastroCpf">CPF:</label>
    <input
      id="cadastroCpf"
      type="text"
      formControlName="cpf"
      (input)="applyCpfMask()"
      maxlength="14"
      placeholder="000.000.000-00"
      autocomplete="off"
    />
    <div
      *ngIf="
        cadastroForm.get('cpf')?.errors?.['cpfInvalido'] &&
        cadastroForm.get('cpf')?.touched
      "
      style="color: red"
    >
      CPF inválido
    </div>

    <label for="cadastroNome">Nome:</label>
    <input
      id="cadastroNome"
      type="text"
      formControlName="nome"
      placeholder="Digite seu nome"
      autocomplete="name"
    />

    <label for="cadastroEmail">E-mail:</label>
    <input
      id="cadastroEmail"
      type="email"
      formControlName="email"
      placeholder="Digite seu email"
      autocomplete="email"
    />
    <div *ngIf="cadastroForm.get('email')?.touched">
      <span *ngIf="emailValidoCadastro === true" style="color: green">
        E-mail válido
      </span>
      <span *ngIf="emailValidoCadastro === false" style="color: red">
        E-mail inválido
      </span>
    </div>

    <div *ngIf="isBuscandoCep" class="cep-loading">
      Buscando CEP, por favor aguarde...
    </div>
    <label for="cadastroCep">CEP:</label>
    <input
      id="cadastroCep"
      type="text"
      formControlName="cep"
      (input)="applyCepMask()"
      maxlength="9"
      placeholder="00000-000"
      autocomplete="postal-code"
    />

    <label for="cadastroLogradouro">Logradouro:</label>
    <input
      id="cadastroLogradouro"
      type="text"
      formControlName="logradouro"
      readonly
      class="w-96"
      autocomplete="address-line1"
    />

    <label for="cadastroBairro">Bairro:</label>
    <input
      id="cadastroBairro"
      type="text"
      formControlName="bairro"
      readonly
      autocomplete="address-line2"
    />

    <label for="cadastroCidade">Cidade:</label>
    <input
      id="cadastroCidade"
      type="text"
      formControlName="localidade"
      readonly
      autocomplete="address-level2"
    />

    <label for="cadastroUf">UF:</label>
    <input
      id="cadastroUf"
      type="text"
      formControlName="uf"
      readonly
      autocomplete="address-level1"
    />

    <label for="cadastroNumero">Número:</label>
    <input
      id="cadastroNumero"
      type="text"
      formControlName="numero"
      (input)="applyNumeroMask()"
      maxlength="8"
      placeholder="Número de sua residência"
      class="w-64"
      autocomplete="address-line2"
    />

    <label for="cadastroTelefone">Telefone:</label>
    <input
      id="cadastroTelefone"
      type="text"
      formControlName="telefone"
      (input)="applyPhoneMask()"
      maxlength="15"
      placeholder="(00) 00000-0000"
      autocomplete="tel"
    />
    <div *ngIf="cadastroForm.get('telefone')?.touched">
      <span *ngIf="telefoneValidoCadastro === true" style="color: green">
        Telefone válido
      </span>
      <span *ngIf="telefoneValidoCadastro === false" style="color: red">
        Telefone inválido
      </span>
    </div>

    <button
      type="submit"
      [disabled]="
        cadastroForm.invalid ||
        isSubmittingCadastro ||
        emailValidoCadastro === false ||
        telefoneValidoCadastro === false
      "
      class="rounded-md bg-slate-500 text-white py-2 px-3 mt-5"
    >
      Cadastrar
    </button>
  </form>
</div>
