@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@layer components {
  .glass-background {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.48);
  }
}

/* 1) Dim do backdrop */
.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

/* 2) Forçar o fundo e borda do painel do datepicker) */
.cdk-overlay-container .mat-datepicker-content,
.cdk-overlay-container .mat-calendar,
.cdk-overlay-container .mat-calendar-header,
.cdk-overlay-container .mat-calendar-body {
  background-color: #ffffff !important; /* fundo branco */
  color: #111827 !important; /* texto escuro (gray-900) */
}

/* 3) Aparência do painel (sombra e canto arredondado) */
.cdk-overlay-container .mat-datepicker-content {
  border-radius: 0.5rem !important; /* rounded-md */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  overflow: hidden;
}

/* 4) Cores das células e do header */
.cdk-overlay-container .mat-calendar-header {
  background-color: #ffffff !important;
}

.cdk-overlay-container .mat-calendar-body-cell-content {
  color: #111827 !important;
}
