<div class="h-fit w-screen overflow-x-hidden bg-azul-main flex flex-row">
  <!-- Área esquerda -->
  <div
    class="h-fit min-h-[93vh] w-2/12 overflow-y-auto overflow-x-hidden flex flex-col items-center justify-start pt-16 gap-2"
  >
    <div class="w-full h-fit flex flex-col gap-2 justify-start items-start">
      <!-- Botão 1 -->
      <button
        (click)="selecionar('Perfil')"
        class="select-none px-4 py-2.5 w-64 h-fit ml-5 rounded-md text-left font-sansation font-semibold text-lg hover:bg-verde-sec hover:text-azul-main duration-200 ease-in-out transition-colors"
        [class.bg-verde-sec]="paginaAtual === 'Perfil'"
        [class.text-azul-main]="paginaAtual === 'Perfil'"
        [class.text-verde-sec]="paginaAtual !== 'Perfil'"
        [class.bg-azul-main]="paginaAtual !== 'Perfil'"
      >
        Perfil
      </button>

      <!-- Botão 2 -->
      <button
        (click)="selecionar('Segurança')"
        class="select-none px-4 py-2.5 w-64 h-fit ml-5 rounded-md text-left font-sansation font-semibold text-lg hover:bg-verde-sec hover:text-azul-main duration-200 ease-in-out transition-colors"
        [class.bg-verde-sec]="paginaAtual === 'Segurança'"
        [class.text-azul-main]="paginaAtual === 'Segurança'"
        [class.text-verde-sec]="paginaAtual !== 'Segurança'"
        [class.bg-azul-main]="paginaAtual !== 'Segurança'"
      >
        Segurança
      </button>
    </div>
    <div class="bg-verde-sec h-[2px] rounded-md w-11/12 my-2"></div>
  </div>
  <!-- Área direita -->
  <div class="flex-1 h-fit flex flex-col justify-center items-center">
    <div
      class="bg-azul-suav rounded-lg h-fit w-10/12 mt-16 shadow-inner shadow-azul-main"
    >
      <div *ngIf="paginaAtual === 'Perfil'" class="h-fit w-full">
        <div class="w-96 h-96">Pefil</div>
      </div>
      <div *ngIf="paginaAtual === 'Segurança'" class="h-fit w-full">
        <div class="w-96 h-96">Ta seguro</div>
      </div>
    </div>
  </div>
</div>
